<%=render "layouts/header"%>
<%=render "layouts/navbar1"%>
<%=render "layouts/navbar2"%>

<nav class="helpnav">
  <div class="container">
  <p>ヘルプ</p>
  </div>
</nav>

<section class="yokuarusitumon">
  <ul>
    <li><%=link_to "よくある質問","#" ,class:"yokuarusitumonli"%></li>
    <li><%=link_to "使い方","#",class:"yokuarusitumonli"%></li>
    <li><%=link_to "運営へのお問い合わせ","#",class:"yokuarusitumonli"%></li>
    <li><%=link_to "noteカイゼン目安箱","#",class:"yokuarusitumonli"%></li>
    <li><%=link_to "クリエイターの推薦","#",class:"yokuarusitumonli"%></li>
  </ul>
</section>

<section class="sitemap">
  <p>サイトマップ</p>
  <div class="sitemapwrap">
  <ul>
    <li>トップ</li>
    <li>ピックアップ</li>
    <li>募集中</li>
    <li>注目カテゴリ</li>
    <li>人気タグ</li>
    <li>検索</li>
    <li>ログイン</li>
    <li>会員登録</li>
    <li>ノート一覧</li>
    <li>マガジン一覧</li>
    <li>ユーザー一覧</li>
  </ul>
  </div>
</section>

<section class="sitemap">
  <p>noteについて</p>
  <div class="sitemapwrap">
  <ul>
    <li>クリエイターの方へ</li>
    <li>noteプレミアム</li>
    <li>定期購読マガジン</li>
    <li>プライバシー</li>
    <li>ご利用規約</li>
    <li>特商法表記</li>
    <li>運営会社</li>
    <li>cakes</li>
    <li>cakesとnoteのストア</li>
    <li>採用情報</li>
  </ul>
  </div>
</section>