<title>note--つくる、つながる、とどける。</title>

<%=render "layouts/header"%>
<%=render "layouts/navbar1"%>
<%=render "layouts/navbar2"%>

<main>
  
   <%if logged_in? %>
    <% if @feed_items.any? %>
    
      <ol>
        <%= render @feed_items %>
      </ol>
     
    <% end %>
  <%else%>
  <%=render "layouts/navbar3"%>
  <p>なにも66</p>
  <%end%>

</main>

  
  

