<title>note--つくる、つながる、とどける。</title>

<%=render "layouts/header"%>
<%=render "layouts/navbar1"%>
<%=render "layouts/navbar2"%>
<%=render "layouts/navbar3"%>

<section>
    <div class="container mainside" >
      <main>
       
       <%if logged_in? %>
       <div class="col-md-8">
        <h3>Micropost Feed</h3>
        <% if @feed_items.any? %>
          <ol>
            <%= render @feed_items %>
          </ol>
        <% end %>
      </div>
      <%else%>
      <p>なにも66</p>
      <%end%>
      
     </main>
     
    <aside class="sidebar">
      サイドバー
    </aside>
  </div>
  
  
</section>
