<li id="note-<%= note.id %>">
  <%= link_to gravatar_for(note.user, size: 36), note.user ,class:"postprofile"%>
  <span><%= link_to note.user.name, note.user ,class:"postname"%></span>
  <span id="postday"><%= sample_time(note[:created_at])%></span>
  <span id="postimage"><%=image_tag note.picture.url if note.picture? %></span><br>
  <strong><%=link_to note.title ,"#" ,class:"posttitle"%></strong><br>
  <span id="posttext"><%= note.content %></span>
  
  <span>
    <section class="postfooter">
      <span class="postfooter1"><%= render "likes/like", note: note %></span>
      <span class="postfooter2"><i class="fas fa-share"></i></span>
      <span class="postfooter2"><i class="fas fa-plus"></i></span>
      <span class="postfooter2"><i class="fas fa-ellipsis-h"></i></span>
      <p class="postfooter3">コメントする</p>
    </section>
    <!--<%if current_user?(note.user)%>-->
     
    <!-- <%=link_to "編集",edit_note_path(note)%>-->
    <!-- <%=link_to "削除",note,method: :delete, data:{confirm:"本当？"}%>-->
    <!--<%end%>-->
  </span>
</li>