<title>アカウント設定 | note</title>
<%=render "layouts/header"%>
<body>
  <div class="settings">
    <div class="row">
      <%=render "layouts/edit_header"%>
      
      <div class="settingcontainer4">
        
        <%=form_for (@user) do |f|%>
         <%=f.label :新しいパスワード,class:"edpassword_label"%>
         <%=f.password_field :password,class:'form-control'%>
         
         <%=f.label :新しいパスワード（確認）,class:"edpassword_label"%>
         <%=f.password_field :password_confirmation,class:'form-control'%>
         
         <%=link_to("キャンセル",edit_user_path(current_user),class:"btn btn-link btn8")%>
         <%=f.submit "保存",class:"btn btn-link btn9"%>
        
        <%end%>
      </div>
      
    </div>
  </div>
</body>