<title>アカウント設定 | note</title>
<%=render "layouts/header"%>
<body>
  <div class="settings">
    <div class="row">
      <%=render "layouts/edit_header"%>
      <div class="settingcontainer2">
        <ul>
          <li class="edit1">ニックネーム <span><%=link_to "変更",edit_name_user_path,class:"henkou"%></span></li>
          <li class="edit2"><%=@user.name%></li>
          <li class="edit1">note ID</li>
          <li class="edit2"><%=@user.id%></li>
          <li class="edit1">メールアドレス<span><%=link_to"変更",edit_email_user_path,class:"henkou"%></span></li>
          <li class="edit2"><%=@user.email%></li>
          <li class="edit1">パスワード<span><%=link_to"変更",edit_password_user_path,class:"henkou"%></span></li>
          <li class="edit2">*********</li>
          <li class="edit3">ソーシャル連携</li>
          <li class="edit2">Facebook
            <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
            </label>
          </li>
          <li class="edit4">Twitter&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>